.app{
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
}

.main{
    width: 75%;
    background: url('../public/assets/bg.jpg') center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.top{
    flex: 50%;
    position: relative;
}

.bottom{
    flex: 50%;
}

.pyramid{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.endText{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #020230;
    padding: 30px;
    border-radius: 10px;
}

.endTextCopyright{
    margin-top: 10px;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 100%;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  width: 30%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}